#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp UP  &kp LEFT  &kp DOWN  &kp RIGHT
                &kp ESC  &kp C  &kp X  &kp RET
            >;
        };
    };
};