#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp UP  &none  &none  &none
                &kp DOWN  &none  &none  &none
            >;
        };
    };
};