# No whitespace after the comma or in your keyboard name!
config SHIELD_ARTSEY_FOUNDRY
    def_bool $(shields_list_contains,artsey_foundry)

# Copyright (c) 2026 Pete Johanson
# SPDX-License-Identifier: MIT